body {
    margin: 0;
    padding: 0;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
    background: red;
}

#grid-container {
    display: grid;
    grid-template-columns: minmax(200px, 2fr) 3fr 3fr;
    grid-template-rows: minmax(300px, auto) auto;
    grid-template-areas: 
        "sidebar left right"
        "sidebar bottom bottom";
}

#sidebar {
    background: lightblue;
    grid-area: sidebar;
}

#sidebar-control {
    display: none;
}

#left-panel {
    background: lightpink;
    grid-area: left;
}

#right-panel {
    background: lightgreen;
    grid-area: right;
}

#bottom-panel {
    background: lavender;
    grid-area: bottom;
}

@media (max-width: 450px) {
    #grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "left"
            "right"
            "bottom";
    }

    #sidebar {
        position: fixed;
        box-sizing: border-box;
        width: 90vw;
        left: -90vw;
        height: max(300px, 80vh);
        transition: 0.3s;
    }

    #sidebar.open {
        left: 0;
    }

    #sidebar-control {
        width: 1em;
        height: 1em;
        box-sizing: border-box;
        display: block;
        position: absolute;
        right: -1em;
    }
}